/* основные цвета */
/* основной цвет color: #212121; */
/* цвет мелким шрифтом color: #757575; */
/* цвет адреса  color: rgba(255, 255, 255, 0.6);*/
/* вторичный цвет color: #FFFFFF;*/
/* цвет для лого color: #2196F3;*/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: #212121;
  background-color: #fff;
  font-family: Roboto, sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  margin: 0px;
  padding: 0px;
}

.graybackground-page,
.graybackground {
  background: #2f303a;
}
.section {
  padding: 94px; 0;
}
/*DIV*/
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*ХЕДЕР*/
.line {
  border: 1px solid #ECECEC;
}
.site-nav {
  display: flex;
  margin-left: 91px;
}
.site-nav .item {
  margin-right: 50px;
  padding-top: 21px;
  padding-bottom: 21px;
}

.site-nav .item:last-child {
  margin-right: 0px;
}
.site-too {
  display: flex;
  margin-left: auto;
}
.site-too .item + .item {
  margin-left: 50px;
}
.main-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

/*Загорловок*/
.graybackground-page {
  height: 600px;
background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(./img/jpg/Imghero.jpg);
    
  background-position: center;
}
.conteiner-zagol {
  width: 696px;

  text-align: center;
  padding-top: 200px;
  margin-left: auto;
  margin-right: auto;
}
.main-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: #fff;
  text-align: center;
}
.button {
  font-size: 16px;
  line-height: 30px;
  background-color: #2196f3;
  color: #ffffff;
  border-radius: 4px;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
}
.button-radi {
  margin-top: 30px;
  text-align: center;
}
/*Секция 2 информвция*/
.information-menu {
  display: flex;
  width: 1170px;
  padding-top: 94px;
  /*margin-top: 94px;*/
}

.information {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  padding-top: 30px;
  
}
.information-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
  margin-top: 10px;
}
.info {
  width: 270px;
  margin-left: 30px;
}
.info :last-child {
  margin-left: auto;
}
/*секция 3 презентация*/

.present-box {
  display: flex;
  margin-top: 50px;
}
.present-box .box-item + .box-item {
  margin-left: 50px;
}
.cont-box {
  /* margin-top: 94px;*/
  padding-top: 94px;
}
/*секция 4 команда*/

.comanda {
  /*margin-top: 94px;*/
  padding-top: 94px;
  padding-bottom: 94px;
  background: #F5F4FA;
}
.comanda-present {
  display: flex;
  margin-top: 50px;
}

.comanda-present .com-pres + .com-pres + .com-pres {
  margin-left: 30px;
}

.com-pres {
margin-left: 30px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.master-social{
  display: flex;
  justify-content: center;
}

.master-social > .mast:not(:last-child) {
  margin-right: 10px;
}

.mast{
 
}

.master-icon{
  width: 20px;
  height: 20px;
}

.master-linc {
  display: flex;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
}

/*секция 5 футер*/
.graybackground {
  height: 252px;
  /*margin-top: 78px;*/
}
.conteiner-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  
}
.foter-li {
  margin-top: 9px;
  margin-bottom: 9px;
}
.gray-footer {
 /* margin-top: 90px;*/
}

/*Портфолио картинки*/
.pictures-list{
  padding-bottom: 94px;
}
.item-list {
  outline: 1px solid #EEEEEE;
}
.feature-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 56px;
}

.feature-list .item-list {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.feature-list .item-list:nth-child(3n) {
  margin-right: 0px;
}
.feature-list .item-list:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.cont-pictur {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}
.pictures-page {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  color: #212121;
}
.pictures-link {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #757575;
}
.cont-link {
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

/* ссилки */
.change-color {
  color: #212121;
}
.change-color-mail {
  color: #757575;
}
.change-color-mail:hover,
.change-color-mail:focus,
.contactable-info:hover,
.button-less:hover,
.button-less:focus {
  color: #2196f3;
}
.change-color:hover,
.change-color:focus {
  color: #2196f3;
}
.logo .change-color.current {
  color: #2196f3;
}
.contactable {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  letter-spacing: 0.03em;
  margin-top: 20px;
  font-style: normal;
}
.contactable-info {
  color: rgba(255, 255, 255, 0.6);
}
/*логотип*/
.logo,
.logo-page,
.logo-page-too {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #2196f3;
}
.logo-page {
  color: #212121;
}
.logo-page-too {
  color: #fff;
}
header {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

/*кнопки*/
/*Портфолио кнопки*/
.portf-button {
  display: flex;
  margin-top: 92px;
  justify-content: center;
}
.port-but {
  margin-left: 10px;
}

.portf-button + .port-but + .port-but + .port-but + .port-but {
  margin-left: 10px;
}

.button-less {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #212121;
  border-radius: 4px;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
}
/*инфортмация*/

.presentation {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
 
}
.presentation-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0px;
}
.presentation-prof {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #757575;
  text-align: center;
  margin-top: 10px;
}
